<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!--    <section class="my-5">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-8 mx-auto">-->
<!--                    <h2>Upload File Example</h2>-->
<!--                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->
<!--                    <form method="post" action="uploadFile" enctype="multipart/form-data" th:object="${product}">-->
<!--                        <div class="form-group">-->
<!--                            <input type="file" name="file" class="form-control-file">-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <button type="submit" class="btn btn-primary">Upload File</button>&ndash;&gt;-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<div class="container">
    <form method="post" action="uploadFile" enctype="multipart/form-data" th:object="${product}">
        Не больше 1 мб <input type="file" name="file" class="form-control-file">
        Название товара <input type="text" name="name">
        <br>
        Цена <input type="number" name="value">
        <br>
        В наличии <input type="checkbox" name="inStock">
        <br>
        Описание <input type="text" name="description">
        <br>
        <br>
        <button class="btn btn-success" type="submit">Добавить товар</button>
    </form>
</div>
</body>
</html>