<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <a href="marketplace">Главная</a>
    <br>
        <h2>Регистрация</h2>
        <form action="/registration" method="post">
            <input id="username" type="text"  name="username" />
            <br>
            <input id="password" type="password" name="password" />
            <br>
            <input type="submit" value="Зарегестрироваться" class="btn"/>
        </form>
</body>
</html>